extends ../layout/admin

block contenido 
  h2(class="my-10 text-center text-2xl font-extrabold")=pagina

  a(href="/mis-propiedades" class="rounded py-2 bg-indigo-600 hover:bg-indigo-800 text-sm px-10 font-bold text-center text-white uppercase my-5 inline-block w-full md:w-auto") Volver a Propiedades

  //- pre=JSON.stringify(mensajes, null, 2)

  div(class="max-w-3xl mx-auto bg-white shadow")
    if mensajes.length

      ul
        each mensaje in mensajes
          li(class="border-gray-200 border-b p-5")
            p(class="text-gray-800 font-bold") Nombre:  
              span(class="font-normal")= mensaje.usuario.nombre

            p(class="text-gray-800 font-bold") Email:  
              span(class="font-normal")= mensaje.usuario.email
            
            p(class="text-gray-800 font-bold") Mensaje:  
              span(class="font-normal")= mensaje.mensaje

            p(class="text-gray-800 font-bold") Enviado:  
              span(class="font-normal")= formatDate(mensaje.createdAt)


    else 
      p(class="text-gray-600 font-bold text-center p-5") No hay mensajes